@import "base/index";
@import "layout/index";
@import "components/index";
@import 'bourbon/bourbon';
// @import 'other-sass-partials-below';
@import "neat/neat.scss";

body {
  background-color: #ececec;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  float: left;
  padding-right: 3px;
}

hr {
  width: 12%;
  float: left;
  margin-top: 0;
  color: #6E6E6E;
}


.main {
  @include outer-container();

}

.section1 {
  @include span-columns(8 of 12);

}

.section2 {
  @include span-columns(4 of 12);
  background-color: blue;
}

.social {
  display: inline-block;
}


.card-date, .card-time, .glyphicon {
  display: inline-block;;
}

.card-date {
  margin-right: 20%;
}

.item {
  width: 100%;
}

.small {
  font-size: 5px;
}

.active img {
 width: 100%;
 // height: auto;
 max-height: 399px;
}

#myCarousel {
  margin-bottom: 2.5%;
}

#card1 {
  background-color: white;
  padding: 3% 2% 4% 2%;
}

.photo {
  @include span-columns(4 of 12);
  width: 31%;
  // height: 50%;
    img {
        width: 100%;
        height: 17.5em;
        padding: 5%;
    }

}

.text {
  @include span-columns(8 of 12);
    h3 {
      font-family: 'Titillium Web', sans-serif;
      color: #292421;
      line-height: 20pt;
      font-weight: 600;
      margin-top: 2%;
  }
    h4 {
      color: #6E6E6E;
      margin-bottom: 1%;
      font-family: 'Karma', serif;
      font-weight: 100;
      font-size: 12pt;
      line-height: 16pt;
    }
    h5 {
      font-family: 'Ubuntu', sans-serif;
      color: #6E6E6E;
      font-weight: lighter;
    }
    h6 {
      color: #6E6E6E;
    }
}


.glyphicon {
  font-size: 11.5pt;
  color: #6E6E6E;
}

.clearfix::after {
content: "";
display: block;
clear: both;
}
